/*---------- GENERAL ----------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 100vh;
}

.container {
    margin: 200px;
    padding: 50px;
    border: 5px solid white;
    border-radius: 20px;
    height: 90vh;
    width: 95vw;
}

.bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

/*---------- SCORE SECTION ----------*/
.score-display {
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    color: #ffffff;
}

.score-display span {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    margin-left: 7px;
    padding: 10px;
    border-radius: 2px;
}

.score-display p {
    font-size: 28px;
}

/*---------- BUTTONS ----------*/
.main-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 40px;
}

button {
    border: 2px solid white;
    border-radius: 40px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #000000;
    cursor: pointer;
    color: #ffffff;
    font-size: 50px;
    font-weight: 900;
}

button:last-child {
    margin-bottom: 0px;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
}

/*---------- DISPLAY SECTION ----------*/
.main-display {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid white;
    height: 400px;
    width: 500px;
}

.main-display p {
    color: #ffffff;
    font-size: 20px;
}